<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>VolumeSync</string>
    <key>CFBundleIdentifier</key>
    <string>com.dieguin.VolumeSync</string>
    <key>CFBundleName</key>
    <string>VolumeSync</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSUIElement</key>
    <true/> <!-- Hides from Dock, Menu Bar only app -->
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 VolumeSync. All rights reserved.</string>
</dict>
</plist>
